
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(228, 121, 0);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(228, 121, 0);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.NewUser {
    width: 100px;
    height: 30px;
    text-align: center;
    text-size-adjust: 90%;
    background: white;
    border: 2px solid rgb(228, 121, 0);
    color: rgb(228, 121, 0);
    border-radius: 15px;
    cursor: pointer;
    float: right;
}

.login {
    width: 100px;
    height: 30px;
    text-align: center;
    background: rgb(228, 121, 0);
    border: 1px solid;
    color: rgb(255,255,255);
    border-radius: 15px;
    display: inline-block;
    outline: none;
    cursor: pointer;
}


div {
    font-family: visuelt, sans-serif;
    color: rgb(228, 121, 0);
    border-radius: 5px;
    padding: 20px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  body {
    background: url('../images/Chicken Background.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9; /* Slight transparency */
}

.logo {
    position: fixed;
    top: 20%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: 300px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: 300px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    border: 2px solid rgba(225, 225, 225, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(80px);
}
